
.jumbotron{
    background-image: url(../img/header.jpg);
    height: 500px;
    background-size: cover;
	background-attachment: fixed;
	background-position: 0 -300px;
    position: relative;
}

.jumbotron .text{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.section .img2 img{
    max-height: 200px;
}

.section .card:hover span{
    cursor: pointer;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
